<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
    <script src="http://unpkg.com/vue"></script>
    <style>
        #can{
            width: 400px;
            height: 400px;
            border: 1px solid #ccc;
            text-align: center
        }
    </style>
</head>
<body>
    <h1>this is git</h1>
    <div id="box">
        <span>名字</span>
        <input type="text" ref="name" v-model="name">{{name}}
        <span>年龄</span>
        <input type="text" ref="age" v-model="age"><span>{{age}}</span>
      <h1>时间绑定</h1>
      <button v-on:click="add()">+</button>    
      <button v-on:click="dec()">-</button>
      <button v-on:dblclick="dec()">-</button>
      <div id="can" v-on:mousemove="mousem">
          {{x}},{{y}}
          
        </div>
    </div>           
    <script src="app.js"></script>

</body>
</html>